<!-- home page -->

<html>  
    <head>
        <title> <%= title %> </title>
    </head>

    <body>
        <h1> This is the home page </h1>
        <h2> welcome to the SOcial Application!</h2>
    </body>
</html>